.ui-g-3 {
    div {
        button {
            float: center;
            text-align: left;
        }
        div {
            margin-top: 18px;
        }
        input {
            width: 100%;
        }
    }
    a {
        font-size: 1em;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    label {
        white-space: nowrap;
        /* overflow: hidden; */
    }
    .loginlegend {
        padding: .1em 0.7em;
    }
}
.ui-fieldset .ui-fieldset-legend {
    border: 1px solid #d6d6d6;
}

.ui-grid-row
{
    padding: 0px;
}
.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: .1em 0.7em;
    border: 1px solid #d6d6d6;
}

.designeeLocatorLink {
    text-align: right;
    color: #024fca;
    margin: 0.5em;
    font: 0.82em Verdana, Arial, sans-serif;
    font-weight: bold;
}

a:visited.linkText {
    color: #024fca;
}
a:link.linkText {
    color: #024fca;
}
a:hover.linkText {
    color: red;
}
.login-state-div {
    width: 75%;
}
::ng-deep .login-pw-div {
    margin-top: 20px;
}
.link-icon-div {
    word-break: initial;
}
.mat-icon-margin {
    margin: -0.1em 0 0 0em;
    float: left;
}
.btn-single-width {
    max-width: 105px !important;
}
// .btn-login {
//     padding-left: 1em !important;
// }
@media screen and (max-width: 680px) {
    #systemUse {
        width:85%;
    }
    .login-state-div {
        width: 70%;
        padding: .2em;
    }
    .login-form-div {
        width: 30%;
        padding: .2em;
    }
    .ui-dialog {
        max-width: 90%;
    }
}
@media screen and (max-width: 414px) {
    ::ng-deep .ui-dialog {
        max-width: 27.5em;
    }
    ::ng-deep .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
        padding: .25em 0.3em !important;
    }
}
@media screen and (max-width: 375px) {
    ::ng-deep .ui-dialog {
        max-width: 24.5em;
    }
    ::ng-deep .ui-fieldset, .ui-fieldset .ui-fieldset-legend {
        padding: .25em 0.1em !important;
    }
}